*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eb4c89;
  color: white;
}

.country-name {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: right;
}

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.06);
  align-items: center;
  height: 34px;
}

.left-header {
  display: flex;
}

.year {
  padding-left: 10px;
  font-weight: 400;
}

.arrow {
  width: 20px;
  height: 25px;
}

.most-views {
  font-weight: 300;
}

.img-right {
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.home-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-top h2 {
  margin-left: -20px;
}

.map {
  width: 70%;
  filter: brightness(30%) grayscale(60%) opacity(0.5);
  padding-top: 20px;
}

.statbycountry {
  background-color: rgba(0, 0, 0, 0.08);
  height: 30px;
  display: flex;
  align-items: center;
}

.statbycountry span {
  margin-left: 5%;
  font-weight: 500;
}

.img {
  width: 30px;
}

.corona {
  width: 30%;
  filter: brightness(50%) grayscale(50%) opacity(0.5);
}

.countries-container {
  display: grid;
  padding-top: 0px;
  grid-template-columns: repeat(2, 1fr);
}
button {
  outline: none;
  border: none;
}

.country-container {
  padding: 35px;
  color: white;
}

.country-container:hover {
  opacity: 0.7;
  cursor: pointer;
}

.country-container:nth-child(4n + 2),
.country-container:nth-child(4n + 3) {
  background-color: rgba(0, 0, 0, 0.08);
}

.country-container:nth-child(4n - 4),
.country-container:nth-child(4n + 1) {
  background-color: #eb4c89;
}
